<div class=" accordian  bg-opacity-15 bg-red-300 " data-state="true">
  <div class="accordian-title pr-2 bg-opacity-5 w-fit  rounded-sm cursor-pointer hover:opacity-50 border-t-2 border-black w-full  ">
    <p class=" uppercase  pointer-events-none w-full ">{{ title }}</p>

    <p class="w-full">+</p>
  </div>

  <div class="accordian-content pl-0  ">
    <p class="">{{ content }}</p>
  </div>
</div>
