<div class=" accordian  bg-opacity-15  " data-state="true">

    <div class="accordian-title pl-0 p-2 cursor-pointer hover:opacity-50 ">

      <p class=' pointer-events-none  '>
      {{ title }}
      </p>

    </div>

    <div class="accordian-content pl-0 p-2 ">

     {{ content }}

    </div>

  </div>