<div class=" accordian  bg-opacity-15  " data-state="true">

        <div class="accordian-title  pr-2  bg-opacity-5 w-fit rounded-sm cursor-pointer hover:opacity-50 ">

              <p class=' uppercase  pointer-events-none  '>
               > {{ title }}
              </p>

        </div>

        <div class="accordian-content pl-0  ">

            <p class=''> {{ content }} </p> 

        </div>

  </div>