<div class="  md:w-[80%] w-full  accordian  bg-opacity-15  " data-state="true">

    <div class="accordian-title p-2">

      <p class=' pointer-events-none  '>
      {{ title }}
      </p>

    </div>

    <div class="accordian-content p-2 ">

     {{ content }}

    </div>

  </div>