<div class="accordian accordian-open" data-state="true">

    <div class="accordian-title">

      <p>
      {{ title }}
      </p>

    </div>

    <div class="accordian-content">

     {{ content }}

     here there is text the i am looking at 

     
    </div>

  </div>