
            <div class=''  >
    
                <button             
                   form="add-to-cart-form"
                   class=" bg-gray-900 bg-opacity-40 text-opacity-85 font-mono rounded-md p-1 pl-3 pr-3 text-xs mt-4  "
                   type="submit"
                   name="add"
                   id="add-to-cart-button">
                   Add to cart 
               </button>
           </div>


    
         