
            <div class='grid grid-cols-8 p-1 sticky top-0 '  >
                <button             
                   form="add-to-cart-form"
                   class=" bg-gray-900 font-sans rounded-sm  text-xs text-white w-full h-8 "
                   type="submit"
                   name="add"
                   id="add-to-cart-button">
                   Add to cart 
               </button>
           </div>


    
         