
            <div class=''  >
                <button             
                   form="add-to-cart-form"
                   class=" hover:bg-black hover:text-white  w-fit border-black border-2 text-black bg-opacity-90 p-4 pl-6 pr-6 text-xs mt-4 "
                   type="submit"
                   name="add"
                   id="add-to-cart-button">
                   Add to cart 
               </button>
           </div>


    
         