
            <div class=''  >
    
                <button             
                   form="add-to-cart-form"
                   class=" bg-gray-900 font-sans rounded-sm p-6 pl-12 pr-12 text-xs text-white mt-4  "
                   type="submit"
                   name="add"
                   id="add-to-cart-button">
                   Add to cart 
               </button>
           </div>


    
         