{% comment %}  takes text and link {% endcomment %}

<div class=" flex w-fit h-el pl-2 pr-2 justify-center items-center bg-black bg-opacity-5 text-opacity-70 rounded-sm  backdrop-blur-lg ">
  <h3>
    <a href="{{link}}"> {{ text }} </a>
  </h3>
</div>
