{% comment %}  takes collection   {% endcomment %}




<div class="  flex  gap-2   p-2  overflow-hidden md:pt-2 pt-[40px]  ">


    {% if collection.title != 'Products' %}

        <div class="w-full   ">
            {{ collection.featured_image  |  image_url: width: 700 | image_tag :  alt: collection.title, class: ' w-[100%]  object-cover object-center  aspect-square ' }}
        </div>

    {% else %}
    
         {% render 'safe-space' %}

    {% endif %}

</div>



<div class="w-full p-2 sticky md:top-0 top-6 z-40 pb-2 h-fit grid  sm:grid-cols-2  grid-cols-1 gap-2 text-red-500 ">
    <h2>{{ collection.title }}  <span class=' opacity-50 '> // {{ collection.all_products_count }} Objects </span> </h2>

   {{ collection.description}}
</div>
