{% comment %}  takes collection   {% endcomment %}


<div class="  flex  gap-2   h-[50vh] p-2  ">
   
    <div class=" h-full w-full bg-slate-100">
        {% if product.featured_image  %}
            {{ product.featured_image | image_url: width: 700 | image_tag}}
        {% endif %}
    </div>

    <div class=" h-full w-full bg-slate-100">

        {% if product.featured_image  %}
            {{ product.featured_image | image_url: width: 700 | image_tag}}
        {% endif %}
    </div>


</div>
