{% comment %}  takes collection   {% endcomment %}




<div class="  flex  gap-2   h-fit p-2  overflow-hidden md:pt-2 pt-[40px]">


    {% if collection.title != 'Products' %}

        <div class=" h-full w-full   ">
            {{ collection.featured_image  |  image_url: width: 700 | image_tag :  alt: collection.title, class: '  md:w-auto w-[100%] object-cover object-center h-[50vh]  aspect-square ' }}
        </div>

    {% else %}
    
         {% render 'safe-space' %}

    {% endif %}

</div>



<div class="w-full p-2  pb-2 h-fit grid  sm:grid-cols-2  grid-cols-1 gap-2">
    <h2>{{ collection.title }}  <span class=' opacity-50 '> // {{ collection.all_products_count }} Objects </span> </h2>

   {{ collection.description}}
</div>
