<div class="  z-50  w-full">
  <div class=" z-20 md:fixed  absolute  left-0 right-0 pointer-events-none flex justify-center items-center ">
    {% if template contains 'product' %}

      <div class=" md:z-50  z-20 md:w-40 w-50 md:mt-0 mt-10 aspect-square w-full md:pt-0 pt-[20vw]  md:visible invisible   ">
        <a class=" pointer-events-auto" href="/"> {{ shop.brand.logo | image_url: width: 700 | image_tag }} </a>
      </div>

    {% else %}
      <div class=" md:z-50  z-20 md:w-40 w-50 md:mt-0 mt-10 aspect-square w-full md:pt-0 pt-[20vw]    ">
        <a class=" pointer-events-auto" href="/"> {{ shop.brand.logo | image_url: width: 700 | image_tag }} </a>
      </div>
    {% endif %}
  </div>

  <div class="w-full fixed  menu-link flex justify-end  p-2  z-50 ">
    <div class="flex justify-between col-start-4   md:w-[350px] sm:w-full w-full  ">
      <div class=" flex gap-2">
        <h3 class=" hover:opacity-50 menu-btn cursor-pointer hightlight select-none">Menu</h3>
     
        <h3 class=" hover:opacity-50 cursor-pointer hightlight select-none"><a href="/collections">Shop All</a></h3>
      </div>
      <div class="cart-btn cursor-pointer  h-6 w-fit rounded-full select-none">
        <h2 class="hover:opacity-50">Cart ( <span data-ajax-cart-bind="item_count" class="header__cart-quantity">
          {{ cart.item_count }} 
        </span> )</h2>
      </div>
    </div>
  </div>
</div>

{% render 'menu' %}
