
  
  <div class=' z-50  w-full' > 
      <div class=' z-50 md:fixed   absolute  left-0 right-0 pointer-events-none flex justify-center items-center ' >
            
        <div class='  sm:w-40 sm:pt-0  pt-20 w-50  col-start-2  ' >
              <a  class=" pointer-events-auto" href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
        </div>
    </div>

      <div class='w-full fixed  menu-link flex justify-end  p-2  z-50 ' >
        <div class="flex justify-between col-start-4  lg:w-[350px] md:w-[300px] sm:w-full w-full  ">
          <div class=" flex gap-2">
          
                <h3 class=' hover:opacity-50 menu-btn cursor-pointer hightlight select-none' > Menu </h3>
                <h3 class=' hover:opacity-50 cursor-pointer hightlight select-none' > <a href="/collections">Collections</a> </h3>
          </div>
                <div class='cart-btn cursor-pointer  h-6 w-fit rounded-full '>
                  <h2 class='hover:opacity-50'>Cart ({{ cart.item_count }})</h2>

              </div>
                
              </div> 
      </div>
</div> 

{% render 'menu' %}



  

