
  
  <div class=' HEADER HERE fixed left-0 right-0 top-0  w-full flex p-1' > 

      <div class=' absolute left-0 right-0 top-0   flex items-center justify-center  ' >
        <div class='sm:w-40 w-20' >
        <a href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
        </div>
      </div>

      <div class='w-full text-md menu-link font-sans flex justify-end items-end gap-2 ' >
          {% for link in linklists.main-menu.links %} 
            <h2 class=''><a href="{{ link.url }}">{{ link.title }}</a></h2>
          {% endfor %}
          <div class='cart-btn cursor-pointer'>
            <h2 class=' font-sans'>Cart (
              <span data-ajax-cart-bind="item_count" class=" header__cart-quantity">
                {{ cart.item_count }} 
              </span> )
            </h2>
          </div> 
      </div>
  </div> 

  


