<div class="product-recommendations abslolute z-50" data-product-id="{{ product.id }}" data-limit="3">
  <div class="product-reco-desktop">
    {%- if recommendations.products_count > 0 -%}
      <div class="recommended-grid">
        <div class="title ">
          <div class="anchor-circle"></div>
          <p>Related Products</p>
        </div>

        <div class="recomended-product" id="{{ forloop.index }}">
          {%- for product in recommendations.products -%}
            {% render 'product-card'with {product: product , forloop: forloop } %}
          {%- endfor -%}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script src="{{ 'reco.js' | asset_url }}" defer></script>
