{% comment %}  takes text and link {% endcomment %}
<a href= '{{link }}'>
    <button class='bg-black text-white bg-opacity-90 text-opacity-90 font-mono rounded-md p-1 pl-3 pr-3 text-xs mt-4' >
        {{text}}
    </button>
</a>