

<<<<<<< HEAD
      <div style='background:{{ color1}}' class=" hero w-full fixed inset-0 -z-40 overflow-hidden ">
=======
      <div style='background-color:{{ section.settings.color1 }}' class=" hero w-full fixed inset-0 -z-40 overflow-hidden ">
>>>>>>> a290bd3 (here)

       
          {{ section.settings.image1 | image_url: width: 1200 | image_tag: class:' w-full h-full object-cover ' }}
      

      </div>


{% schema %}

  {
    "name": "Background Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      },
      {
        "type": "color",
        "id": "color1",
        "label": "color"
      }
    
    
    ],

    "presets": [
      {
        "name": "Background Image",
        "category": "Content"
      }
    ]
  }
{% endschema %}