
  

  

      <div class="flex flex-col justify-center  pt-20 pb-40 items-center  ">
        
          <div class='w-[40%] aspect-main pb-20'>
            {{ section.settings.image| img_url: '2048x' | img_tag }}
           
        </div>

      <div class=' w-[80%] '>
        <h1 class='font-sans text-4xl uppercase text-center leading-none '>
          {{ section.settings.body}}
        </h1>
      </div>
    
      </div>

   

 


{% schema %}

  {
    "name": "Centerd Image & Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image", 
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body Text"
      }
    ],

    "presets": [
      {
        "name": "Centerd Image & Text ",
        "category": "Content"
      }
    ]
  }
{% endschema %}