<div
  style="background:{{section.settings.color}}"
  class=" js-section  pb-[20vh]  pt-[10vw] h-fit bg-opacity-50 p-4 gap-2 "
>
  <div class="h-full">
    <div class="h-fit pb-2 ">
      <h1 class="display-serif uppercase w-full text-center  ">{{ section.settings.title }}</h1>
    </div>

    <div class="grid grid-cols-3 gap-2 ">
      {% if section.settings.prod1 != '' %}
        <div class="pt-4">
          {% render 'product-card' with { product: section.settings.prod1, nofade: false } %}
        </div>
      {% endif %}
      {% if section.settings.prod2 != '' %}
        <div class="pt-4">
          {% render 'product-card' with { product: section.settings.prod2, nofade: false } %}
        </div>
      {% endif %}
      {% if section.settings.prod3 != '' %}
        <div class="pt-4">
          {% render 'product-card' with { product: section.settings.prod3, nofade: false } %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Block",
  "settings": [
    {
      "type": "product",
      "id": "prod1",
      "label": "Product One"
    },

    {
      "type": "product",
      "id": "prod2",
      "label": "Product Two"
    },

    {
      "type": "product",
      "id": "prod3",
      "label": "Product Three"
    },

    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },

    {
      "type": "color",
      "id": "color",
      "label": "Colour"
    }
  ],

  "presets": [
    {
      "name": " Collection Block ",
      "category": "Content"
    }
  ]
}
{% endschema %}
