<div class=" opacity-50  hover:opacity-100 transition-all">

        <div class=''>
                <h2 class='text-center'> name here </h2>

                <div class=' ' >
                        <a href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
                </div>

        </div>

</div>