
  

  

      <div style='background-color:{{ section.settings.color1 }}' class="  sticky top-0  w-full rounded-sm md:h-screen  h-auto aspect-square  overflow-hidden  ">

          <div class='w-full h-full    object-cover rounded-sm '>
            
        
            {{ section.settings.image1 | image_url: width: 1200 | image_tag: class:'w-full h-[80vh] ' }}
        
          </div>

      </div>

   

 

{% schema %}

  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      }
    ],

    "presets": [
      {
        "name": " Hero Image",
        "category": "Content"
      }
    ]
  }
{% endschema %}