
  

  

      <div class=" w-screen h-screen">

        <div class='w-full h-full '>
          
          {{ section.settings.video1  | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
      
        </div>

      </div>

   




{% schema %}

  {
    "name": "Hero Video",
    "settings": [
      {
        "type": "video",
        "id": "video1",
        "label": "Image One"
      }
    ],

    "presets": [
      {
        "name": " heroVideo",
        "category": "Content"
      }
    ]
  }
{% endschema %}