
  

  

    <div  style='background:{{section.settings.color}}' class=" js-section grid md:h-screen h-fit bg-opacity-50 md:grid-cols-2 grid-cols-1 p-2 gap-2 ">
      <div class='w-full md:row-start-1  row-start-2  '>
        <div class='h-full  '>
          <div class='h-fit pb-4'>
            <h1 class='font-serif  md:w-[80%] w-full  uppercase    '>
              {{ section.settings.title}}
            </h1>
          </div>
          
            <div class="">
              <h3 class='w-[80%]' >
                {{ section.settings.body}}
              </h3>
              {% if section.settings.product_1  != ''  %}
                {% render 'button' with {text: 'View Product' , link: section.settings.product_1.url  %}
              {% endif %}
              
            </div>


        </div>
          </div>
      </div>

        <div class='w-full h-full overflow-hidden'>
            <div class='object fit'> 
              {{ section.settings.image| img_url: '2048x' | img_tag }}
            </div>
        </div>






   
 
  


{% schema %}

  {
    "name": "Image & Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body Text"
      },
      {
        "type": "product",
        "id": "product_1",
        "label": "Product"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Colour"
      }
    ],

    "presets": [
      {
        "name": "Image & Text ",
        "category": "Content"
      }
    ]
  }
{% endschema %}