



<div class='grid md:grid-cols-2 grid-cols-1   gap-2 p-2  '>

    <div class=' transition-all flex md:flex-col md:h-auto h-[80vh] flex-row gap-2 bg-red-500   '>
        
        {% for image in product.images %}
            
            <div class=" relative   ">
    
                    <div class=" image  h-full w-fit ">
                        
                        {{ image | image_url: width: 700 | image_tag: class:'h-full w-auto' }}
                
                    </div>
    
                    <div class="counter absolute z-10 top-2 left-2 bg-white flex items-center justify-center   h-6 w-6 shadow-sm rounded-full bg-opacity-10 backdrop-blur-lg ">
                        <p class="caption">
                            {{ forloop.index }}  
                        </p> 
                    </div>
    
    
             </div>
    
            {% endfor %}
            
    
    </div>     


    {% comment %} imfo  {% endcomment %}

     <div class='  h-fit sticky top-1 p-4'>

        {% render 'safe-space' %}
        {% comment %} {% render 'indent-paragraph' with { title:'Title', description: product.title } %}
        {% render 'indent-paragraph' with { title:'Infomation', description: product.description } %} {% endcomment %}
        <h1> {{ product.title }} </h1>
        <p> {{ product.description }} </p>
        <p >
            {% render 'info-line' with { title: 'Width', value: product.metafields.custom.width  }%}
            {% render 'info-line' with { title: 'Height', value: product.metafields.custom.height  }%}
            {% render 'info-line' with { title: 'Legnth', value: product.metafields.custom.length }%}
        </p>
        
        <ajax-cart-product-form> 
            {% render 'add-to-cart-form' with current_variant: current_variant  %}
        </ajax-cart-product-form>

        {% render 'atc-stick' %} 
     </div>
        
    

</div>      


 

