



<div class='grid grid-cols-8  gap-2 p-1 '>
    {% comment %} image  {% endcomment %}
    <div class=" col-span-2 aspect-main indent-8">
        {{ product.featured_image | image_url: width: 700 | image_tag }}
    </div>
    {% comment %} imfo  {% endcomment %}

     <div class='col-span-5 row-start-2 relative h-fit p-1'>
        {% render 'indent-paragraph' with { title:'Title', description: product.title } %}
        {% render 'indent-paragraph' with { title:'Infomation', description: product.description } %}
        <h3 >
            {% render 'info-line' with { title: 'Width', value: product.metafields.custom.width  }%}
            {% render 'info-line' with { title: 'Height', value: product.metafields.custom.height  }%}
            {% render 'info-line' with { title: 'Legnth', value: product.metafields.custom.length }%}
        </h3>
        
        <ajax-cart-product-form> 
            {% render 'add-to-cart-form' with current_variant: current_variant  %}
        </ajax-cart-product-form>
     </div>
        
    

</div>      
{% render 'atc-stick' %} 

<div class='post-wrapper transition-all  flex gap-1 border-2 border-red-500  overflow-x-scroll pl-1 pr-1 '>
        
    {% for image in product.images %}
        0
        <div class=" h- w-60 relative ">


                <div class=" image h-[50vh] ">
                    
                    {{ image | image_url: width: 700 | image_tag }}
            
                </div>

                <div class="counter absolute top-2 left-2 bg-white flex items-center justify-center  z-40 h-6 w-6 shadow-sm rounded-full bg-opacity-40 backdrop-blur-lg ">
                    <p class="caption">
                        {{ forloop.index }} / {{ forloop.length  }}
                    </p> 
                </div>


         </div>

        {% endfor %}

</div>      

