<div class=" ">
  {% render 'safe-space' %}
</div>

{% schema %}
{
  "name": "Safe Space",
  "settings": [],

  "presets": [
    {
      "name": "Safe Space",
      "category": "Content"
    }
  ]
}
{% endschema %}
