
  

  

      <div class="grid  sm:grid-cols-2 grid-cols-1 p-2 gap-2 pt-0">
      <div class='w-full'>
        <h1 class='font-serif text-9xl uppercase'>
          {{ section.settings.title}}
        </h1>
        <h2 class='font-sans text-lg uppercase leading-none  text-justify w-[70%] ' >
          {{ section.settings.body}}
          </h2>
        
      </div>
      <div class='w-full'>
        <div class='object fit'>
          {{ section.settings.image| img_url: '2048x' | img_tag }}
          </div>
      </div>
      </div>

   

 


{% schema %}

  {
    "name": "Image & Text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body Text"
      }
    ],

    "presets": [
      {
        "name": "Image & Text ",
        "category": "Content"
      }
    ]
  }
{% endschema %}