<div
  class=" js-section grid grid-cols-1 md:grid-cols-2 gap-2 p-4 "
>
  <div class="w-full h-full overflow-hidden  pb-2 ">
    {{ section.settings.image | image_url: width: 1204 | image_tag: class: ' object-cover  js-fade' }}
  </div>

  <div class="w-full h-full overflow-hidden  pb-2 ">
    {{ section.settings.imageTwo | image_url: width: 1204 | image_tag: class: ' object-cover  js-fade' }}
  </div>
</div>

{% schema %}
{
  "name": "Two Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image One"
    },

    {
      "type": "image_picker",
      "id": "imageTwo",
      "label": "Image Two"
    }
  ],

  "presets": [
    {
      "name": "Two Images"
    }
  ]
}
{% endschema %}
